@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: "Bateleur";
    src: url("../../fonts/bateleur/Basteleur-Moonlight.otf") format("otf"),
}

@font-face {
    font-family: "Ouroboros";
    src: url("../../fonts/ouroboros/Ouroboros-Regular.otf") format("otf"),
}
